/* 桌機版 */
:root {
  --space: 1rem;
  --border: 4px;
  --page-width: 80ch;
  --font-family: 'Airbnb Cereal', sans-serif;
  --color-link: #032030;
  --color-active: white;
  --ease: cubic-bezier(0.23, 1, 0.32, 1);
  --duration: 350ms;
  --section-offset: 0;
}



/* 漢堡按鈕 */
#BOX {
	display: none;
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: #1794A5;
	padding-top: 11px;
	cursor: pointer;
	border-radius: 5px;
	top: 12px;
	right: 12px;
	box-shadow: 1px 1px 5px rgba(3,32,48,0.5); 
	}

span.AAA, span.BBB, span.CCC {
	display: block;
	width: 25px;
	height: 3px;
	margin: 0px auto;
	background-color: #FFF;
	margin-bottom: 4px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: rotate(0deg) translate3d(0px, 0px, 0px);
	transform: rotate(0deg) translate3d(0px, 0px, 0px);
}

#BOX.active span.AAA {
	-webkit-transform: rotate(405deg) translate3d(5px, 5px, 0px);
	transform: rotate(405deg) translate3d(5px, 5px, 0px);
}
#BOX.active span.BBB {
	width: 40px;
	opacity: 0;
}
#BOX.active span.CCC {
	-webkit-transform: rotate(-405deg) translate3d(5px, -5px, 0px);
	transform: rotate(-405deg) translate3d(5px, -5px, 0px);
}


/* 導覽列 */
.nav-sections {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  z-index: 888;

}

.nav-sections .LOGO{
	position: absolute;
	left: 20px;
	top: 10px;
}

.nav-sections .LOGO a{
	display: block;
	width: 41px;
	height: 60px;
	background-image: url(../images/logos/logo_taitung.svg);
	background-size: 100% auto;
	float: left;
	filter:drop-shadow(0px 3px 1px rgba(3,32,48,0.3));
}


.nav-sections .menu {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0px auto;
  max-width: var(--page-width);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: -webkit-transform var(--ease) var(--duration);
  transition: -webkit-transform var(--ease) var(--duration);
  transition: transform var(--ease) var(--duration);
  transition: transform var(--ease) var(--duration), -webkit-transform var(--ease) var(--duration);
  list-style: none;

}

.nav-sections .menu::-webkit-scrollbar {
  display: none;
}

.nav-sections .menu-item-link {
  display: block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  color: var(--color-link);
  -webkit-transition: color var(--ease) var(--duration);
  transition: color var(--ease) var(--duration);
  line-height: 60px;
  text-shadow: 1px 1px 1px #FFF; 
}

.nav-sections .menu-item-link.active {
  color: var(--color-active);
  text-shadow:none;
  font-weight:500;
}

.menu-item:first-of-type .menu-item-link {
  margin-left: 0;
}

.active-line {
  position: absolute;
  bottom: 10%;
  left: 0;
  height: 80%;
  background: url(../images/surfboard.svg) no-repeat center;
  opacity:100%;
  -webkit-transition: width var(--ease) var(--duration), -webkit-transform var(--ease) var(--duration);
  transition: width var(--ease) var(--duration), -webkit-transform var(--ease) var(--duration);
  transition: width var(--ease) var(--duration), transform var(--ease) var(--duration);
  transition: width var(--ease) var(--duration), transform var(--ease) var(--duration), -webkit-transform var(--ease) var(--duration);
  z-index: -1;
  filter:drop-shadow(0px 3px 1px rgba(3,32,48,0.3));
}

/* 向下一個section */
.DOWN{
	display: block;
	width: 50px;
	height: 50px;
	background: url(../images/next.svg) no-repeat center;
	filter:drop-shadow(0px 3px 5px rgba(3,32,48,0.3));
	margin: 40px auto;
}

.DOWN:hover{
	transition: all 0.2s ease-out;
    transform: scale(1.1);
	background: url(../images/next_index.svg) no-repeat center;
	
}

header.masthead a.DOWN_INDEX{
	display: block;
	width: 50px;
	height: 50px;
	background: url(../images/next_index.svg) no-repeat center;
	position: absolute;
	right:36vw;
	bottom: 50px;
	filter:drop-shadow(0px 3px 5px rgba(3,32,48,0.3));
}

header.masthead a.DOWN_INDEX:hover{
	transition: all 0.2s ease-out;
    transform: scale(1.1);
	background: url(../images/next.svg) no-repeat center;
}

/* 向上到頂端 */
#GOTOP{
	display:block;
	position:fixed;
	width: 70px;
	height: 100px;
	background: url(../images/top.svg) no-repeat center;
	background-size: 70px auto;
	bottom:20px;
	right:20px;
	cursor: pointer;
	filter: drop-shadow(0px 3px 5px rgba(3,32,48,0.3));
}

#GOTOP:hover{
	opacity: 60%;
}


/* section bg */



.CYAN{
	background-color: #1794A5;
}

.SKYBLUE{
	background-color: #D0DFE6;
}

/* text */

h1 {
  text-align: center;
  line-height:1.5;

}

h1:before {
  content: '　 ';
  background: url(../images/before.svg) no-repeat center;
  background-size: 18px auto;
}



.DARKCYAN_TEXT{
	color: #032030;
}

.WHITE_TEXT{
	color: #FFF;
}

.RED_TEXT{
	color: #F71E35;
}

/* margin*/
.MARGIN_A{
	display: block;
	margin: 0px auto;
	margin-top: -40px;
	width: 200px;
	height: auto;
	padding-bottom: 20px;
	
}


/* section-桌機版 */

#about, #regulations, #sign-up, #awards{
	width: 100%;
	height: auto;
	padding-bottom: 100px;
	position: relative; 
}

.FRAME_01{
	width: 1100px;
	height: 600px;
	background:url(../images/frame_bg01.png) no-repeat center top;
	background-size: 100% auto;
	filter:drop-shadow(3px 3px 10px rgba(3,32,48,0.3)); 
}

#about .FRAME_01, #sign-up .FRAME_01{
	padding: 18px;
}

.FRAME_02{
	width: 1100px;
	height: 538px;
	background: url(../images/frame_bg02.png) no-repeat center top;
	background-size: 100% auto;
	filter:drop-shadow(3px 3px 10px rgba(3,32,48,0.3));
}

#regulations .FRAME_02{
	padding: 36px 28px;
}

#awards .FRAME_02{
	padding: 36px;
}

#about h5, #regulations h5{
	font-size: 24px;
	line-height: 1.5;
}

/* 聯絡我們 */
.FRAME_03{
	width: 1100px;
	height: 377px;
	background: url(../images/frame_bg03.png) no-repeat center top;
	background-size: 100% auto;
	filter:drop-shadow(3px 3px 10px rgba(3,32,48,0.3));
}

#contact .FRAME_03{
	padding: 90px 300px;
}


#contact p{
	font-size: 24px;
	font-weight: 500;
	line-height: 48px;
	text-align:left;
	
}


/* Content scroll start*/
 #about .content-scroll, #awards .content-scroll, #sign-up .content-scroll{
    height: 548px;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    width: 10px;
	height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent; 
  }
 
  ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.6); 
  }

  #regulations .content-scroll{
    height: 465px;
	overflow-y: scroll;
  }

  #awards .content-scroll{
    height: 450px;
	overflow-y:hidden;
  }
	
/* Content scroll end*/

/* Nav tab start */
.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-item {
  padding: 0;
  margin: 0;
  background: transparent;
}

.nav-tabs .nav-link {
  color: black;
}

.nav-tabs .nav-link:hover {
  color: #F71E35;
}

.nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  border: none;
  border-radius: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #F71E35;
  background-color: transparent;
}

.nav-tabs .nav-item.show .nav-link h5:before, .nav-tabs .nav-link.active h5:before {
  content: '　';
  background: url(../images/before.svg) no-repeat center ;
  background-size: 15px auto;
  padding-right: 8px;
}
/* Nav tab end */
.TEXT_COMING{
	font-size: 50px;
	color: #F71E35;
	}	

/* footer */

.FOOTER_LOGO{
	display: block;
	height: 80px;
	width: auto;
	margin-bottom: 40px;
}

footer p{
	display: block;
	width: 100%;
	font-size: 15px;
	line-height: 1.8;
	text-align: center;
	padding: 10px 20px 0px 20px;
	
}
/* footer end*/

/* 平板以下 991以下 */
@media screen and (max-width: 991px) {
	
/* 漢堡按鈕 */	
#BOX {
	display:block;
	z-index: 998;
}

.nav-sections{
	background-color: rgba(255,255,255,0.7);
}
	

	
.nav-sections .LOGO{
	display: none;
}
		

.nav-sections .menu {
	display: none;

}
	
	
.nav-sections .menu-item-link.active {
	  color: #F71E35;
	  text-shadow:none;
	  font-weight:700;
}
	
.active-line {
	display: none;
}

	
header.masthead a.DOWN_INDEX{
	display: block;
	width: 50px;
	height: 50px;
	background: url(../images/next_index.svg) no-repeat center;
	position:absolute;
	right:44vw;
	bottom: 5vh;
	margin: 0px auto;
}

header.masthead a.DOWN_INDEX:hover{
	transition: all 0.2s ease-out;
    transform: scale(1.1);
	background: url(../images/next.svg) no-repeat center;
}
	
}
/* 平板以下 end*/


/* 大網頁 */

@media screen and (min-width: 1200px) {
	
header.masthead {
	height: 100vh;
	background: url(../images/header_1200.png) no-repeat center#d0dfe6;
	background-size:cover;
}
	
}
/* 小網頁 */
@media screen and (min-width: 992px) and (max-width: 1199px) {

header.masthead {
	height: 100vh;
	background: url(../images/header_992.png) no-repeat center #d0dfe6;
	background-size: cover;
}

.FRAME_01{
	width: 940px;
	height: 513px;
	background: url(../images/frame_bg01.png) no-repeat center top;
	background-size: 100% auto;
	filter:drop-shadow(3px 3px 10px rgba(3,32,48,0.3));
}
	
#about .FRAME_01, #sign-up .FRAME_01{
	padding: 14px;
}

.FRAME_02{
	width: 940px;
	height: 460px;
	background: url(../images/frame_bg02.png) no-repeat center top;
	background-size: 100% auto;
	filter:drop-shadow(3px 3px 10px rgba(3,32,48,0.3));
}

#regulations .FRAME_02{
	padding: 30px 22px;
}

#awards .FRAME_02{
	padding:29px;
}

/* 聯絡我們 */
.FRAME_03{
	width: 940px;
	height: 321px;
	background: url(../images/frame_bg03.png) no-repeat center top;
	background-size: 100% auto;
	filter:drop-shadow(3px 3px 10px rgba(3,32,48,0.3));
}

#contact .FRAME_03{
	padding: 65px 200px;
}
	
/* Content scroll start-小網頁*/
 #about .content-scroll, #awards .content-scroll, #sign-up .content-scroll{
    height: 468px;
    overflow-y: scroll;
  }
	
  #regulations .content-scroll{
    height: 400px;
	overflow-y: scroll;
  }

  #awards .content-scroll{
    height: 32vw;
	overflow-y:hidden;
  }	
	
/* margin*/
.MARGIN_A{
	display: block;
	margin: 0px auto;
	margin-top: -75px;
	width: 200px;
	height: auto;
	padding-bottom: 10px;
}
	
	
	
}

/* 手機 */
@media screen and (max-width: 575px) {
header.masthead {
	height: 100vh;
	background: url(../images/header_575.png) no-repeat center top #d0dfe6;
	background-size: cover;
}
 
/* 向下一個section */
.DOWN{
	display: block;
	width: 50px;
	height: 50px;
	background: url(../images/next.svg) no-repeat center;
	filter:drop-shadow(0px 3px 5px rgba(3,32,48,0.3));
	margin: 40px auto;
}
	
.DOWN:hover{
	transition: all 0.2s ease-out;
    transform: scale(1.1);
	background: url(../images/next_index.svg) no-repeat center;
}
		
	
/* margin*/
.MARGIN_A{
	display: block;
	margin: 0px auto;
	margin-top: -30px;
	width: 120px;
	height: auto;
	padding-bottom: 0px;
}

.TEXT_COMING{
	font-size: 34px;
	color: #F71E35;
	}	

/* 向上到頂端-手機 */
#GOTOP{
	display:block;
	position:fixed;
	width: 55px;
	height: 80px;
	background: url(../images/top.svg) no-repeat center;
	background-size:55px auto;
	bottom:10px;
	right:10px;
	cursor: pointer;
	filter: drop-shadow(0px 3px 5px rgba(3,32,48,0.3));
}

#GOTOP:hover{
	opacity: 60%;
}
	
/* section bg */

.BG_H2{
	height: 50vh;
}

.BG_H3{
	height: 50vh;
}	
	
	
/* section-手機 */

.FRAME_01{
	width:320px;
	height:auto;
	background:url(../images/frame_bg01_es.png) no-repeat center top;
	background-size: 100% auto;
	filter:drop-shadow(3px 3px 10px rgba(3,32,48,0.3));
	margin: 0px auto;
}

#about .FRAME_01, #sign-up .FRAME_01{
	padding:12px;
}
	

.FRAME_02{
	width:320px;
	height: auto;
	background:url(../images/frame_bg02_es.png) no-repeat center top;
	background-size: 100% auto;
	filter:drop-shadow(3px 3px 10px rgba(3,32,48,0.3));
	margin: 0px auto;
}

#regulations .FRAME_02{
	padding:20px 12px;
}

#awards .FRAME_02{
	padding:14px;
	
}

#about h5{
	font-size: 24px;
}

#regulations h5{
	font-size: 	20px;
	letter-spacing: 0px;
	line-height: 20px;
}
	
	
/* text */

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 30px;
	
}

h1:before {
  content: '　 ';
  background: url(../images/before.svg) no-repeat center;
  background-size: 16px auto;
}

	
	
	
/* 聯絡我們 */
.FRAME_03{
	width:320px;
	height: auto;
	background: url(../images/frame_bg03_m.png) no-repeat center top;
	background-size: 100% auto;
	filter:drop-shadow(3px 3px 10px rgba(3,32,48,0.3));
	margin: 0px auto;
}		
	

#contact .FRAME_03{
	padding: 28px;
}
	
#contact p{
	font-size: 14px;
	font-weight: 500;
	line-height: 32px;
	text-align:left;
	
}

/* Content scroll start-手機 */
 #about .content-scroll, #awards .content-scroll, #sign-up .content-scroll{
    height: 283px;
    overflow-y: scroll;
}
	 
 #regulations .content-scroll{
    height: 205px;
	overflow-y: scroll;
  }

  #awards .content-scroll{
    height: 205px;
	overflow-y:hidden;
  }
  
/* Content scroll end*/

/* Nav tab start */	
 .nav-tabs .nav-item.show .nav-link h5:before, .nav-tabs .nav-link.active h5:before {
  content:none;
  background:none;
  padding-right: 0px;
}

/* Nav tab end */	

	
/* footer */


.FOOTER_LOGO{
	display: block;
	height: 80px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

footer p{
	display: block;
	width: 100%;
	font-size: 15px;
	line-height: 1.8;
	text-align: center;
	padding: 10px 20px 0px 20px;
}
/* footer end*/	
	
	
	
	
	
}












/* 大平板 */
@media screen and (min-width: 768px) and (max-width: 991px) {

header.masthead {
	height: 100vh;
	background: url(../images/header_768.png) no-repeat center top #d0dfe6;
	background-size: cover;
}
 
/* 向下一個section */
.DOWN{
	display: block;
	width: 50px;
	height: 50px;
	background: url(../images/next.svg) no-repeat center;
	filter:drop-shadow(0px 3px 5px rgba(3,32,48,0.3));
	margin: 40px auto;
}
	
.DOWN:hover{
	transition: all 0.2s ease-out;
    transform: scale(1.1);
	background: url(../images/next_index.svg) no-repeat center;
}
		
	
	
/* section bg */
.BG_H2{
	height: 65vh;
}

.BG_H3{
	height: 35vh;
}
	
	
/* section-大平板 */
.FRAME_01{
	width:100%;
	height: auto;
	background: url(../images/frame_bg01_md.png) no-repeat center top;
	background-size: 100% auto;
	filter:drop-shadow(3px 3px 10px rgba(3,32,48,0.3));
}

#about .FRAME_01, #sign-up .FRAME_01{
	padding: 28px;
}
	

.FRAME_02{
	width: 100%;
	height: auto;
	background: url(../images/frame_bg02_md.png) no-repeat center top;
	background-size: 100% auto;
	filter:drop-shadow(3px 3px 10px rgba(3,32,48,0.3));
}

#regulations .FRAME_02{
	padding: 44px 36px;
}


#awards .FRAME_02{
	padding: 36px;
}

#about h5{
	font-size: 24px;
}

#regulations h5{
	font-size: 28px;
	letter-spacing: 2px;
}

	
/* 聯絡我們 */
.FRAME_03{
	width: 100%;
	height: auto;
	background: url(../images/frame_bg03_t.png) no-repeat center top;
	background-size: 100% auto;
	filter:drop-shadow(3px 3px 10px rgba(3,32,48,0.3));
}		
	

#contact .FRAME_03{
	padding: 90px 100px;
}
	
#contact p{
	font-size: 25px;
	font-weight: 500;
	line-height: 50px;
	text-align:left;
	
}	
	
/* Content scroll start-大平板 */
 #about .content-scroll, #awards .content-scroll, #sign-up .content-scroll{
    height: 620px;
    overflow-y: scroll;
}
	 
 #regulations .content-scroll{
    height: 444px;
	overflow-y: scroll;
  }

  #awards .content-scroll{
    height: 444px;
	overflow-y:hidden;
  }
  
/* Content scroll end*/	

/* Nav tab start */	
 .nav-tabs .nav-item.show .nav-link h5:before, .nav-tabs .nav-link.active h5:before {
  content:none;
  background:none;
  padding-right: 0px;
}

/* Nav tab end */	

/* footer */

.FOOTER_LOGO{
	display: block;
	height: 80px;
	width: auto;
	margin-bottom: 40px;
}

footer p{
	display: block;
	width: 100%;
	font-size: 15px;
	line-height: 1.5;
	text-align: center;
	padding: 10px 0px 0px 0px;
}
/* footer end*/	
	
	
	
	
	
	
}


/* 小平板 */
@media screen and (min-width: 576px) and (max-width: 767px) {
	
header.masthead {
	height: 100vh;
	background: url(../images/header_576.png) no-repeat center top #d0dfe6;
	background-size: cover;
}
 
/* 向下一個section */
.DOWN{
	display: block;
	width: 50px;
	height: 50px;
	background: url(../images/next.svg) no-repeat center;
	filter:drop-shadow(0px 3px 5px rgba(3,32,48,0.3));
	margin: 40px auto;
}

.DOWN:hover{
	transition: all 0.2s ease-out;
    transform: scale(1.1);
	background: url(../images/next_index.svg) no-repeat center;
}
		

/* section-小平板 */
.FRAME_01{
	width:100%;
	height:auto;
	background:url(../images/frame_bg01_md.png) no-repeat center top;
	background-size: 100% auto;
	filter:drop-shadow(3px 3px 10px rgba(3,32,48,0.3));
	margin: 0px auto;
}

#about .FRAME_01, #sign-up .FRAME_01{
	padding:24px;
}
	

.FRAME_02{
	width:100%;
	height:73vw;
	background:url(../images/frame_bg02_md.png) no-repeat center top;
	background-size: 100% auto;
	filter:drop-shadow(3px 3px 10px rgba(3,32,48,0.3));
	margin: 0px auto;
}

#regulations .FRAME_02{
	padding:32px 24px;
}

#awards .FRAME_02{
	padding: 5%;
}

/* Content scroll start-小平板 */
 #about .content-scroll, #awards .content-scroll, #sign-up .content-scroll{
    height: 454px;
    overflow-y: scroll;
}
	 
 #regulations .content-scroll{
    height:330px;
	overflow-y: scroll;
  }

  #awards .content-scroll{
    height: 326px;
	overflow-y:hidden;
  }
  
/* Content scroll end*/	
	

	
	
/* Nav tab start */	
 .nav-tabs .nav-item.show .nav-link h5:before, .nav-tabs .nav-link.active h5:before {
  content:none;
  background:none;
  padding-right: 0px;
}

/* Nav tab end */		

/* margin*/
.MARGIN_A{
	display: block;
	margin: 0px auto;
	margin-top: 0px;
	width: 200px;
	height: auto;
	padding-bottom: 10px;
}

	
	
/* 聯絡我們 */
.FRAME_03{
	width: 100%;
	height: auto;
	background: url(../images/frame_bg03_t.png) no-repeat center top;
	background-size: 100% auto;
	filter:drop-shadow(3px 3px 10px rgba(3,32,48,0.3));
}		
	

#contact .FRAME_03{
	padding: 55px;
}
	
#contact p{
	font-size: 21px;
	font-weight: 500;
	line-height: 40px;
	text-align:left;
	
}		
	
	
/* section bg */
.BG_H2{
	height: 60vh;
}

.BG_H3{
	height: 40vh;
}
		
	
	
	
	
	
}






