.table_bg {
	background-color: #CDDB00;
}

.IFRAME{
	width: 1000px;
	height: 277px;
}

.HD_LOGO{
	display: block;
	width: 100px;
	height: 34px;
	position: absolute;
	top: 12px;
	right: 56px;
	z-index: 999;
}