body {
	background-image: url(../images/13_019/bg.jpg);
	background-repeat: repeat;
	margin: 0px;
	background-color: #D4D4D4;
}

.table {
	font-size: 16px;
	line-height: 24px;
	width: 230px;
	color: #432c00;
}

.red {
	font-size: 16px;
	color: #F00;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

