/* ---reset.css--- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---reset.css--- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
	-webkit-text-size-adjust: none;
}

body {
	background-color: #333;
}


a[href *="updog"]{display:none!important;}

/* DeskTop First 桌機版優先 */

.hohoho_fb_yayaya{
	margin:0px auto; 
	max-width:980px; 
	height:0px; 
	position:relative; 
	z-index:100;
}

.hohoho_fb_yayaya .aaaaaaaa{
}

.hohoho_fb_yayaya .aaaaaaaa a{
	position:absolute; 
	top:26px; 
	right:21px;
	border:0px;
}

header {
	max-width: 980px;
	height: 103px;
	background-color: #FFF;
	position: relative;
	margin:0px auto;
}

header img#headerstyle {
	width: 100%;
	height: 6px;
	position: absolute;
	top: 0px;
	border:0px;
}

header h1 a {
	display: block;
	width: 170px;
	height: 97px;
	background-image: url(../images/logo.png);
	margin-left: 20px;
	text-indent: -9999px;
}

article {
	max-width: 980px;
	background-color: #FFF;
	margin:0px auto;
}

article img#AD_KV {
	display: block;
	max-width: 100%;
	height: auto;
	border:0px;
}
article img#AD_OTHER {
	display:block;
	max-width:100%;
	height: auto;
	border:0px;
	margin:0;
}
article .BLOCK {
	clear: both;
	padding: 3%;
}
article h2 {
	font-size: 15px;
	line-height: 24px;
	color: #333;
}
article p {
	font-size: 15px;
	line-height: 24px;
	color: #666;
}
article a {
	text-decoration: none;
	color: #C00;
}
article a:hover {
	color: #226884;
}
ul.BTN_CENTER{
	width:540px;
	list-style: none;
	margin:0px auto;
	padding:0%;
	height:60px;
}
	
ul.BTN_CENTER li{
	float:left;
}

a.BTN_CENTER{
	display:block;
	width:150px;
	height:44px;
	text-align:center;
	margin:0px 15px;
	border-radius:5px;
	color:#FFF;
	background-color:#b70076;
	font-size:20px;
	line-height:44px;

}

a.BTN_CENTER:hover{
	color:#FFF;
	background-color:#87286e;
	}
.BLOCK_ADW{
	display:block;
	padding:10px 0;
}	
ul.BTN_CENTER2{
	width:215px;
	list-style: none;
	margin:0px auto;
	padding:1%;
	height:60px;
}
	
ul.BTN_CENTER2 li{
	float:left;
}

a.BTN_CENTER2{
	display:block;
	width:150px;
	height:44px;
	text-align:center;
	margin:0px 15px;
	border-radius:5px;
	color:#FFF;
	background-color:#8c8c8c;
	font-size:20px;
	line-height:44px;

}

a.BTN_CENTER2:hover{
	color:#FFF;
	background-color:#87286e;
	}

article a.aa{
	display:block;
	text-align:center;
	margin: 0px auto;
	
}

/*TAB widget*/
.ts_tabwidget_switch {
	height: 35px;
}
ul.ts_tabwidget_switch {
	list-style: none;
}
.ts_tabwidget_switch li {
	float: left;
	border: 1px solid #d2d2d2;
	border-left: none;
	width: 20%;
	height: 36px;
	text-align: center;
	font-size:15px;

	color: #1f1f1f;
	line-height: 34px;
	cursor: pointer;
	background: linear-gradient(#fff, #efefef);
	background: -moz-linear-gradient(#fff, #efefef);
	background: -webkit-linear-gradient(#fff, #efefef);
	background: -o-linear-gradient(#fff, #efefef);
	background: -ms-linear-gradient(#fff, #efefef);
 filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#efefef');
	zoom: 1;
}
.ts_tabwidget_switch li:first-child {
	border-left: 1px solid #d2d2d2;
}
.ts_tabwidget_switch li:hover {
	background: #DADADA;
	filter: none;
}
.ts_tabwidget_switch li.active {
	background: #fff;
	filter: none;
	border-bottom-color: #fff;
}
.ts_tabwidget_switch li.active:hover {
	cursor: default;
}
.ts_tabwidget_content {
	border: 1px solid #d2d2d2;
}
.ts_tab {
	display: none;
}
.ts_tab.active {
	display: block;
}
/*TAB內*/
.ts_article_wrap {
	padding: 2%;
}


/*faq*/
.ts_article_wrap h3.ts {
	background: #7e2a65;
	color: #fff;
	margin-top:10px;
	padding: 6px 9px;
	font-size: 16px;
}
dl.ts_faqlist {
	margin: 0 0 20px 0;
}
dl.ts_faqlist dt {
	background: url(img/ts_sprite2.png) 12px 12px no-repeat #ebdfe8;
	cursor: pointer;
	color: #7e2a65;
	font-size: 15px;
	padding: 10px 2px 10px 28px;
	margin-bottom: 10px;
}
dl.ts_faqlist dt:hover {
	background-color: #d5bdcf;
}
dl.ts_faqlist dd {
	display: none;
	margin-bottom: 10px;
	margin-top: -9px;
	font-size: 13px;
	color: #595959;
	background: #f2f2f2;
	padding: 6px 10px 10px 31px;
	line-height: 20px;
	text-indent: -17px;
}
dl.ts_faqlist dd:before {
	content: "A: ";
}
dl.ts_faqlist ol {
	margin-bottom: 5px;
}
dl.ts_faqlist ol li {
	text-indent: 0;
}
.ts_a1dsfkj {
	font-weight: bold;
	margin-top: 5px;
}
ol.ts_olabc li {
	list-style-type: upper-alpha;
}
.ts_faq_seg dd table.ts {
	text-indent: 0;
	margin: 10px 0 0 0;
	font-size: 12px;
}
.ts_faq_seg dd table.ts th {
	background: #DBDBDB;
}
.ts_faq_seg dd table.ts td {
	background: #fff;
}
dl.ts_faqlist dd.NO_A:before {
	content: "　";
}
/*列表*/
ol.ts {
	margin-left: 22px;
	margin-bottom: 20px;
}
ol.ts li {
	list-style: decimal outside none;
	font-size: 15px;
	line-height: 24px;
	color: #666;
	margin-left:6px;

}
ol.ts ol.ts {
	margin-top: 10px;
	margin-bottom: 10px;
}
ol.ts ol.ts li {
	list-style-type: cjk-ideographic;
}
ol.ts ul.ts {
	margin: 10px 0 10px 20px;
}
ol.ts ul.ts li {
	list-style-type: disc;

}

/*表格*/

table.ts {
	border-collapse:collapse;
	border:1px double #8f8f8f;
	margin-bottom:20px;
	line-height:24px;
	font-size:15px;
}

table.ts caption {
	text-align:left;
	font-size:18px;
	line-height:24px;
	font-weight:bold;
	padding-bottom:5px;
	text-align:center;
	color:#606;
}

table.ts th, table.ts td {
	border:1px solid #cecece;
	padding:10px 8px;
	text-align:center;
	vertical-align:middle;
}
table.ts th {
	font-weight: normal;
	background-color: #E8E8E8;
}

table.ts th.th_GRAY{
	background-color:#666;
	color:#FFF;
}

.TEXT_LINETHROUGH{
	text-decoration:line-through;

}




.TD_TEXT_TH{
	font-size:16px;
	line-height:24px;
	font-weight:bold;
	
}



.TD_TEXT_WHITE_2{
	color: #FFF;
	background-color: #666;
	font-size:13px;
}


.RED {
	color: #b70076;
	font-size: 18px;
	font-weight: bold;
}


.TD_TEXT_WHITE_3{
	color: #b70076;
	background-color: #FDFDFD;
	font-size: 16px;

}

.TD_TEXT_WHITE_7{
	color: #b70076;
	background-color: #FDFDFD;
	font-size: 12px;

}

table.ts ol.ts {
	margin-bottom: 0;
}
table.ts ol.ts li {
	line-height: 18px;
}
strong.ts {
	font-weight: bold;
}




#TEXT_RED {
	color: #C00;
}
.BOX_LINE {
	border-bottom: 1px dashed #666;
	margin: 15px 0px;
}

/*銷售店點*/
.news_table_h6{color: #666; margin-bottom: 5px; font-size: 15px!important;}
table.news_table { display: table;  font-size:12px; border-collapse: collapse;}
table.news_table th { color:#fff; padding: 5px; border-bottom: solid 1px #fff; border-top: solid 1px #CCC; border-right: solid 1px #CCC; background-color:#999; text-align:center;}
table.news_table th:first-child {border-left: solid 1px #CCC;}
table.news_table td { color:#666; padding: 5px; border-bottom: solid 1px #CCC; border-right: solid 1px #ccc; background-color: #ffffff; text-align:center;}
table.news_table td:first-child {border-left: solid 1px #CCC; color: #941c6a;}




footer {
	clear: both;
	max-width: 980px;
	height: 50px;
	background: #941c6a url(../images/footer_bg.png) left no-repeat;
	margin:0px auto;
}
footer p {
	color: #FFF;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	padding: 10px 0;
}
footer a {
	color: #FFF;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
.ts tr .TD_TEXT_WHITE_2 {
}
.ts tr .TD_TEXT_WHITE_2 {
}
.ts tr td {
}
.ts tr td {
}
.ts tr .TD_TEXT_WHITE_2 {
}
.ts tr .TD_TEXT_WHITE_2 {
}



.BTN_CENTER.zzz{text-align:center;}
.BTN_CENTER.zzz li{float:none; display:inline-block;}

