body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}.gray_text {
	font-size: 12px;
	color: #333333;
	line-height: 18px;
}
.gray_text2 {
	font-size: 12px;
	color: #333333;
	line-height: 18px;
	background-color: #D9D9D9;
}
.gray_text3 {
	font-size: 12px;
	color: #333333;
	line-height: 18px;
	background-color: #F2F3C7;
}
