html {
	font-family:Arial, Helvetica, "微軟正黑體", sans-serif;
}

body {
	background-color: #2C2626;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.g12 {
	font-size: 12px;
	color: #666666;
	line-height: 18px;
	letter-spacing: 4pt;
}
