html {
	font-family:Arial, Helvetica, "微軟正黑體", sans-serif;
}


#abgne_fade_pic {
	WIDTH: 395px; 
	HEIGHT: 435px;
	POSITION: relative; 
}

#abgne_fade_pic A.ad {
	POSITION: absolute;
}

#abgne_fade_pic .control {
	RIGHT: 10px; 
	BOTTOM: 10px; 
	POSITION: absolute;
}

#abgne_fade_pic .control A {
	PADDING-RIGHT: 3px; 
	DISPLAY: inline-block; 
	PADDING-LEFT: 3px; 
	FONT-SIZE: 13px; 
	BACKGROUND: #595555; 
	PADDING-BOTTOM: 3px; 
	MARGIN: 0px 3px; 
	WIDTH: 16px; 
	COLOR: #fff; 
	PADDING-TOP: 3px; 
	TEXT-ALIGN: center; 
	TEXT-DECORATION: none;
}

#abgne_fade_pic .control A.on {
	color: #595555;
	background: #ffae00;
}

