@import url("reset.css");
body {
	margin: 0px auto;
	text-align: center;
	background-image:url(../images/13_023/bg.jpg);
	background-color:#898682;
}
#edm_bg{
	background-image: url(../images/13_023/Victory_bg.jpg);
	height:1100px;
	width:960px;
	margin: 0px auto;
	text-align: center;
	position:relative;
}
.logo_div{
	height:65px;
	width:143px;
	margin-top:35px;
	margin-left:760px;
	position:absolute;
}
#logo{
	height:65px;
	width:143px;
	/*margin-top:39px;
	margin-left:282px;
	position:absolute;*/
}
#registration_iframe{
	background-color: transparent;
	position:absolute;
	margin-top: 677px;
	margin-left: 633px;
}
#content_word {
	background-color: transparent;
	position: absolute;
	margin-top: 713px;
	margin-left: 229px;
	width: 353px;
	top: 10px;
}
#content_word h1{
	float:left;
	width:353px;
	height:82px;
	font-size: 15px;
	line-height:1.5;
	padding-bottom:20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	font: inherit;
	vertical-align: baseline;
	text-align: justify;

}
#content_word  h1  span{
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	vertical-align: baseline;
	color:#014484;
}
