/* ---reset.css--- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ---reset.css--- */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: Arial,Helvetica,"微軟正黑體",sans-serif;
	-webkit-text-size-adjust: none;
}

body {
	background-color: #F0F0F0;
}

.hohoho_fb_yayaya{
	margin:0px auto; 
	max-width:980px; 
	height:0px; 
	position:relative; 
	z-index:100;
}

.hohoho_fb_yayaya .aaaaaaaa{
}

.hohoho_fb_yayaya .aaaaaaaa a{
	position:absolute; 
	top:26px; 
	right:21px;
	border:0px;
}

#toTop{
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	background:url(../images/go-top.png) no-repeat left top;
}

#toTopHover{
	background:url(../images/go-top.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity:0;
	-moz-opacity:0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus{
	outline:none;
}

a[href *="updog"]{display:none!important;}

/* DeskTop First 桌機版優先 */


header {
	max-width: 980px;
	height: 103px;
	background-color: #FFF;
	border-top:6px solid #87286e;
	margin:0px auto;
}

header img#headerstyle {
	width: 100%;
	height: 6px;
	position: absolute;
	top: 0px;
}

header h1 a {
	display: block;
	width: 170px;
	height: 97px;
	background-image: url(../images/logo.png);
	margin-left: 20px;
	text-indent: -9999px;
}

article {
	max-width: 980px;
	background-color: #FFF;
	margin:0px auto;
}



article .BLOCK_AD picture img{
	width: 100%;
	height: auto;
}

.title{
	width:100%;
	background:#AAA;
	overflow:auto;
}
.title .name{
	float:left;
	font-size:28px;
	font-weight:bolder;
	color:#FFFFFF;
	padding:10px 3px 10px 26px;
}
.title .date{
	float:right;
	font-size:20px;
	color:#FFFFFF;
	padding:10px 60px 10px 0;
}
.note{
	width:100%;
	background:#F7F9F6;
	padding:3%;
	color:#666666;
	line-height:30px;
}
.note ul{
	padding-left: 22px;
    line-height: 30px;
}
.note h3{
	font-size:18px;
}




article .BLOCK {
	padding: 1% 4% 2% 4%;

}
article h2 {
	font-size: 15px;
	line-height: 24px;
	color: #333;
}
article h4{
	font-size:26px;
	color:#888888;
	border-left:#888888 solid 7px;
	padding-left:10px;
}
.h{
	margin-left:32px;
}
article p {
	font-size: 15px;
	line-height: 24px;
	color: #666;
}
article a {
	text-decoration: none;
	color: #FF00AE;
}
article a:hover {
	color: #226884;
}
ul.BANK_LOGO{
	list-style:none;
	width:95%;
	overflow:auto;
	margin-top:10px;
}
ul.BANK_LOGO img{
	width: 95.3%;}
ul.BANK_LOGO li{
	width:25%;
	float:left;
	padding:2px 5px 0 5px;
	}
ul.BANK_LOGO li a{
	display:block;
	width:100%;
	height:100%;
	border:2px solid #fff;
}
ul.BANK_LOGO li a:hover{
	border-radius: 5px;
	border:2px solid #C460A9;
}

article ul.BTN_CENTER {
	width: 400px;
	list-style: none;
	margin: 0px auto;
}
article ul.BTN_CENTER li {
	float: left;
}
article a.BTN_CENTER {
	display: block;
	width: 150px;
	height: 44px;
	text-align: center;
	margin: 0px 15px;
	border-radius: 5px;
	color: #FFF;
	background-color: #b70076;
	font-size: 20px;
	line-height: 44px;
}
article a.BTN_CENTER:hover {
	background-color: #87286e;
}

.bank_event{
	margin-left:-1.5%;
}


/*faq(開合效果)*/
.ts_faq_seg h3.ts {
	background: #7e2a65;
	color: #fff;
	padding: 6px 9px;
}
dl.ts_faqlist {
	margin-bottom:20px;
}
	
dl.ts_faqlist dt {
	background: url(img/ts_sprite2.png) 12px 12px no-repeat #ebdfe8;
	cursor: pointer;
	color: #7e2a65;
	font-size: 15px;
	padding: 10px 2px 10px 28px;
	margin-bottom: 10px;
}
dl.ts_faqlist dt:hover {
	background-color: #d5bdcf;
}
dl.ts_faqlist dd {
	display: none;
	margin-bottom: 10px;
	margin-top: -10px;
	font-size: 13px;
	color: #595959;
	background: #f2f2f2;
	padding: 6px 16px 20px 10px;
	line-height: 20px;
	text-indent: 0px;
}
dl.ts_faqlist dd:before {
	content: "A: ";
}
dl.ts_faqlist ol {
	margin-bottom: 5px;
}
dl.ts_faqlist ol li {
	text-indent: 0;
}

dl.ts_faqlist dd.NO_A:before {
	content: "　";
}
dl.ts_faqlist dd.NO_A h4{
	font-size:15px;
	line-height:24px;
	margin:0 12px 10px 22px;
	padding:0 0 5px 10px;
	border-bottom:#999 1px dashed;
	}

dl.ts_faqlist dd.NO_A p{
	margin:0 12px 0 16px;
	}

dl.ts_faqlist ul {
	padding: 6px 20px 10px 10px;
}

/*dl.ts_faqlist ul li {
	list-style:none;
	color: #666;
    font-size: 15px;
    line-height: 24px;
	margin:0 0 0 12px;
}*/
.ts_a1dsfkj {
	font-weight: bold;
	margin-top: 5px;
}
ol.ts_olabc li {
	list-style-type: upper-alpha;
}
.ts_faq_seg dd table.ts {
	text-indent: 0;
	margin: 10px 0 0 0;
	font-size: 12px;
}
.ts_faq_seg dd table.ts th {
	background: #DBDBDB;
}
.ts_faq_seg dd table.ts td {
	background: #fff;
}



/*收合效果內的table*/
table.Collapse_tb {
	border-collapse: collapse;
	border: 1px double #8f8f8f;
	margin-bottom: 20px;
	line-height: 18px;
	font-size: 15px;
    line-height: 18px;
}
table.Collapse_tb caption {
	text-align: left;
	font-weight: bold;
	padding-bottom: 5px;
}
table.Collapse_tb th, table.Collapse_tb td {
	border: 1px solid #cecece;
	padding: 4px 8px;
}
table.Collapse_tb th {
	background: #f4f4f4;
	font-weight: normal;
}


p.note{
	font-size:14px;
	line-height:18px;
	color:#999;
	text-align:justify;
	}


ol.ts {
	margin-left: 38px;
	margin-bottom: 20px;
}
ol.ts li {
	list-style: decimal outside none;
	font-size: 15px;
	line-height: 24px;
	color: #666;
	text-align:justify;
	margin-right:12px;
}
ol.ts ol.ts {
	margin-top: 10px;
	margin-bottom: 10px;
}
ol.ts ol.ts li {
	list-style-type: cjk-ideographic;
}
ol.ts ul.ts {
	margin: 10px 0 10px 20px;
}
ol.ts ul.ts li {
	list-style-type: disc;
}
table.ts {
	width:98%;
	border-collapse: collapse;
	border: 1px double #8f8f8f;
	margin:10px 20px;
	line-height: 18px;
	font-size: 15px;
}
table.tsm{
	display:none;
}
table.tsno {
	border-collapse: collapse;
	border: 1px double #8f8f8f;
	margin:10px 20px;
	line-height: 18px;
	font-size: 15px;
}
table.ts caption {
	text-align: left;
	font-weight: bold;
	padding-bottom: 5px;
}
table.ts th, table.ts td {
	border: 1px solid #cecece;
	padding: 4px 8px;
	text-align: center;
}
table.ts th, table.tsno td {
	padding: 4px 8px;
	text-align: center;
}
table.ts th {
	background: #f4f4f4;
	font-weight: normal;
}
table.ts ol.ts {
	margin-bottom: 0;
}
table.ts ol.ts li {
	line-height: 18px;
}
strong.ts {
	font-weight: bold;
}
#TEXT_RED {
	color: #C00;
}
.bgc{
	background-color:#FFDD00;
}
.BOX_LINE {
	border-bottom: 1px dashed #666;
	margin: 15px 0px;
}

footer{
	margin:0px auto;
    background: #87286e;
	width:980px;
    font-size: 13px;
	line-height: 15px;
    color: #fff;
    text-align: center;
    padding: 17px 10px;
}


footer a {
	color: #FFF;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}

/* 以下為 手機版 */
@media screen and (max-width:640px) {

.hohoho_fb_yayaya{
	margin:0px auto; 
	max-width:100%; 
	height:0px; 
	position:relative; 
	z-index:100;
}

.hohoho_fb_yayaya .aaaaaaaa{
}

.hohoho_fb_yayaya .aaaaaaaa a{
	position:absolute; 
	top:26px; 
	right:21px;
	border:0px;
}

header {
	max-width: 100%;
	height: 47px;
	background-color: #FFF;
	border-top:6px solid #87286e;
	margin:0px auto;
}
header img#headerstyle {
	width: 100%;
	height: 6px;
	position: absolute;
	top: 0px;
}
header h1 a {
	display: block;
	width: 90px;
	height: 37px;
	background-image: url(../images/logo_m.png);
	margin: 26px 0px 15px 10px;
	text-indent: -9999px;
	background-size: 90px auto;
	float: left;
}
article {
	max-width: 100%;
	background-color: #FFF;
	margin:0px auto;
}



article .BLOCK_AD picture img{
	width: 100%;
	height: auto;
}


article .BLOCK {
	padding: 0% 4% 4% 4%;
}
article h2 {
	font-size: 15px;
	line-height: 24px;
	color: #333;
}
article p {
	font-size: 15px;
	line-height: 24px;
	color: #666;
}
article a {
	text-decoration: none;
	color: #FF00AE;
}
article a:hover {
	color: #226884;
}








article ul.BTN_CENTER {
	width: 100%;
	list-style: none;
	margin: 0px auto;
	padding: 4%;
}
article ul.BTN_CENTER li {
	width: 100%;
	float: none;
}
article a.BTN_CENTER {
	display: block;
	width: 100%;
	height: 44px;
	text-align: center;
	margin: 10px 0px;
	border-radius: 5px;
	color: #FFF;
	background-color: #b70076;
	font-size: 20px;
	line-height: 44px;
}
article a.BTN_CENTER:hover {
	background-color: #87286e;
}

.bank_event{
	margin-left:-1.5%;
}


/*faq(開合效果)*/
.ts_faq_seg h3.ts {
	background: #7e2a65;
	color: #fff;
	padding: 6px 9px;
}
dl.ts_faqlist {
	margin: 0px 0px 20px 0;

	}
	
dl.ts_faqlist dt {
	background: url(img/ts_sprite2.png) 12px 12px no-repeat #ebdfe8;
	cursor: pointer;
	color: #7e2a65;
	font-size: 15px;
	padding: 10px 2px 10px 28px;
	margin-bottom: 10px;
}
dl.ts_faqlist dt:hover {
	background-color: #d5bdcf;
}
dl.ts_faqlist dd {
	display: none;
	margin-bottom: 10px;
	margin-top: -10px;
	font-size: 13px;
	color: #595959;
	background: #f2f2f2;
	padding: 6px 16px 20px 10px;
	line-height: 20px;
	text-indent: 0px;
}
dl.ts_faqlist dd:before {
	content: "A: ";
}
dl.ts_faqlist ol {
	margin-bottom: 5px;
}
dl.ts_faqlist ol li {
	text-indent: 0;
}

dl.ts_faqlist dd.NO_A:before {
	content: "　";
}
dl.ts_faqlist dd.NO_A h4{
	font-size:15px;
	line-height:24px;
	margin:0 12px 10px 22px;
	padding:0 0 5px 0;
	border-bottom:#999 1px dashed;
	}

dl.ts_faqlist dd.NO_A p{
	margin:0 12px 0 16px;
	}

dl.ts_faqlist ul {
	padding: 6px 20px 10px 10px;
}

dl.ts_faqlist ul li {
	list-style:none;
	color: #666;
    font-size: 15px;
    line-height: 24px;
	margin:0 0 0 12px;
}
.ts_a1dsfkj {
	font-weight: bold;
	margin-top: 5px;
}
ol.ts_olabc li {
	list-style-type: upper-alpha;
}
.ts_faq_seg dd table.ts {
	text-indent: 0;
	margin: 10px 0 0 0;
	font-size: 12px;
}
.ts_faq_seg dd table.ts th {
	background: #DBDBDB;
}
.ts_faq_seg dd table.ts td {
	background: #fff;
}



/*收合效果內的table*/
table.Collapse_tb {
	border-collapse: collapse;
	border: 1px double #8f8f8f;
	margin-bottom: 20px;
	line-height: 18px;
	font-size: 15px;
    line-height: 18px;
}
table.Collapse_tb caption {
	text-align: left;
	font-weight: bold;
	padding-bottom: 5px;
}
table.Collapse_tb th, table.Collapse_tb td {
	border: 1px solid #cecece;
	padding: 4px 8px;
}
table.Collapse_tb th {
	background: #f4f4f4;
	font-weight: normal;
}


p.note{
	font-size:14px;
	line-height:18px;
	color:#999;
	text-align:justify;
	}


ol.ts {
	margin-left: 38px;
	margin-bottom: 20px;
}
ol.ts li {
	list-style: decimal outside none;
	font-size: 15px;
	line-height: 24px;
	color: #666;
	text-align:justify;
	margin-right:12px;
}
ol.ts ol.ts {
	margin-top: 10px;
	margin-bottom: 10px;
}
ol.ts ol.ts li {
	list-style-type: cjk-ideographic;
}
ol.ts ul.ts {
	margin: 10px 0 10px 20px;
}
ol.ts ul.ts li {
	list-style-type: disc;
}
table.ts{
	display:none;
}
table.tsm {
	display:block;
	border-collapse: collapse;
	/*border: 1px double #8f8f8f;*/
	margin: 10px 0;
	line-height: 18px;
	font-size: 15px;
}
table.tsm caption {
	text-align: left;
	font-weight: bold;
	padding-bottom: 5px;
}
table.tsm th, table.tsm td {
	border: 1px solid #cecece;
	padding: 4px 8px;
	text-align: center;
}
table.tsm th {
	background: #f4f4f4;
	font-weight: normal;
}
table.tsm ol.ts {
	margin-bottom: 0;
}
table.tsm ol.ts li {
	line-height: 18px;
}
strong.ts {
	font-weight: bold;
}
#TEXT_RED {
	color: #C00;
}
.BOX_LINE {
	border-bottom: 1px dashed #666;
	margin: 15px 0px;
}



footer{
	margin:0px auto;
    background: #87286e;
	width:100%;
    font-size: 13px;
	line-height: 17px;
    color: #fff;
    text-align: center;
    padding: 12px 10px;
}


footer a {
	color: #FFF;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
.h {
    margin: 20px;
}
article h4 {
    font-size: 20px;
    border-left: #888888 solid 6px;
    padding: 1px 0 10px 9px;
}
ul.BANK_LOGO li {
    width: 50%;
}
.title .name {
    float:none;
    font-size: 20px;
    font-weight:normal;
    color: #FFFFFF;
    padding: 15px 3px 5px 8px;
}
.title .date {
    float:none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 5px 3px 11px 10px;
}
.note h3 {
    font-size: 16px;
}
.note li{
	font-size:14px;
}
}


